/* navigation bar */

#navbar::before {
    height: 100%;


}

#navbar {
    flex-direction: column;

}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 4px;
    padding-bottom: 2px;
}


/* home section */

#home {
    height: 495px;
    padding: 20px 13px;

}

#home::before {
    height: 100%;

}

#home p {
    font-size: 10px;

}




/* services section */
#services {
    flex-direction: column;
}

#services .box {
    margin: 6px 21px;
    padding: 13px;
    border-radius: 21px;
}

/* client section */
#client-section .clients {
    /* display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;  */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px;
    margin-top: 10px;
    padding: 3px;
}

#client-section .clients img {
    height: 75px;

}

.clients img {
    width: 50px;
    height: 40px;
    padding: 0px;


}


/* contact us section */
.contact-box form {
    width: 80%;
}


/* footer */


/* utility secion */
.h-primary {
    font-size: 20px;
}

.btn {
    font-size: 15px;
    padding: 2px
}