/* css reset */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* css variable */
:root {
    --navbar-height: 400px;

}

/* Navigation bar */
#navbar {
    display: flex;
    align-items: center;
    /* position: relative; */
    position: sticky;
    top: 0px;
}


#navbar::before {
    content: '';
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    height: 87%;
    width: 100%;
    z-index: -1;
    opacity: 0.78;


}

/* Navigation bar: logo and img styling */
#logo {
    margin: 10px 15px;
    padding: 3px;
}

#logo img {
    margin: 1px 1px;
    margin-top: 0px;
    padding: 2px;
    width: 92px;
    height: 80px;

}

#logo img:hover {
    cursor: pointer;
}

/* Navigation bar: list styling*/


#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;

}


#navbar ul li {

    font-size: 1.2rem;
    list-style: none;

}

#navbar ul li a {
    color: white;
    display: block;
    padding: 12px;
    margin: 16px;
    margin-top: 0px;
    text-decoration: none;
    border-radius: 10px;

}

#navbar ul li a:hover {
    color: black;
    background-color: white;

}


/* home section */
#home {
    display: flex;
    flex-direction: column;
    padding: 18px 200px;
    height: 467px;
    justify-content: center;
    align-items: center;

}

#home::before {
    content: '';
    background: url('../bg1.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 607px;
    width: 100%;
    z-index: -1;
    opacity: 0.88;

}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Rubik', sans-serif;

}

#slogan {
    margin-top: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Rubik', sans-serif;
}

/* service section */



#services {
    padding: 3px;

    display: flex;

}

#services .box {
    border: 2px solid black;
    margin: 10px 55px;
    padding: 27px;
    border-radius: 36px;
    background-color: #cad2d2;

}

#services .box img {
    height: 90px;
    margin: auto;
    display: block;

}

#services .box p {
    font-family: 'Rubik', sans-serif;


}

/* client section */
#client-section {
    height: 577px;


}

#client-section .clients {
    /* display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;  */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 100px;
    margin-top: 50px;
    padding: 10px;
}

#client-section .clients img {
    height: 110px;
    padding: 30px;
}


#client-section::before {
    content: '';
    background: url('../bg.jpg') no-repeat center center/cover;
    position: absolute;

    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;


}

/* contact section */
#contact {
    position: relative;
    z-index: -1;

}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.9;
    background: url(../contact.jpg) no-repeat center center/cover;


}

.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.contact-box input,
.contact-box textarea {
    width: 100%;
    padding: 3px;
    border-radius: 9px;
    font-size: 1.1rem;

}

.contact-box form {
    width: 40%;
}

.contact-box label {
    font-size: 1.3rem;
    font-family: 'Rubik', sans-serif;
}



/* footer section */
footer {
    background-color: black;
    color: white;
    padding: 8px;
}





/* utility class */

.h-primary {
    font-size: 2.5rem;
    padding: 5px;
    font-family: 'Rubik', sans-serif;

}

.h-secondary {
    font-size: 1.8rem;
    padding: 5px;
    font-family: 'Rubik', sans-serif;
}

.btn {
    padding: 6px 14px;
    margin: 14px;
    margin-top: 35px;
    color: white;
    background-color: brown;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 1.3rem;

}

.btn:hover {
    cursor: pointer;
    color: #000000;
    background-color: white;
}


.center {
    text-align: center;
}